section.search-results
  h3 #{venues.length} venues
  if currentUser
    button(type="button").btn.btn-default.pull-right#export Export CSV
  table.table.table-hover
    thead
      tr
        th Name
        th City
        th Street Address
        th Latitude
        th Longitude
    tbody
      +each venues
        tr.venue
          td #{name}
          td #{city}
          td #{address}
          td #{lat}
          td #{lng}
