section.history
  h3 Queries history
  table.table.table-hover
    thead
      tr
        th
        th Query
        th Latitude
        th Longitude
        th Radius
        th Date
    tbody
      +each queries
        tr.query(class="{{#if eq currentQuery _id}} selected {{/if}}")
          td
            span.glyphicon.glyphicon-trash.delete
            if eq currentQuery _id
              if searching
                i.fa.fa-spinner.fa-spin
          td
            strong #{query}
          td #{lat}
          td #{lng}
          td #{radius}
          td #{date}